**/target
**/error-screenshots

# Mac
*.DS_Store

# Intellij Idea files
.idea
*.iml

# Eclipse
.classpath
*.project
*.settings
vaadin-portlet-integration-tests/node_modules
vaadin-portlet-integration-tests/package.json
vaadin-portlet-integration-tests/package-lock.json
vaadin-portlet-integration-tests/webpack.config.js
vaadin-portlet-integration-tests/webpack.generated.js

# JS
/**/node_modules/**
