**/target
**/error-screenshots

# Mac
*.DS_Store

# Intellij Idea files
.idea
*.iml

# Eclipse
.classpath
*.project
*.settings
portlet-integration-tests/node_modules
portlet-integration-tests/package.json
portlet-integration-tests/package-lock.json
portlet-integration-tests/webpack.config.js
portlet-integration-tests/webpack.generated.js
