**/target
**/error-screenshots

# Mac
*.DS_Store

# Intellij Idea files
.idea
*.iml

# Eclipse
.classpath
*.project
*.settings
/**/package.json
/**/package-lock.json
/**/webpack.config.js
/**/webpack.generated.js

# JS
/**/node_modules/*
**/frontend/generated
**/tsconfig.json
**/types.d.ts
**/index.html
**/web-component.html

